asgiref==3.10.0
backcall==0.2.0
decorator==5.2.1
Django==5.2.7
django-extensions==4.1
djangorestframework==3.16.1
Faker==37.8.0
flake8==4.0.1
ipython==7.28.0
jedi==0.19.2
matplotlib-inline==0.1.7
mccabe==0.7.0
parso==0.8.5
pexpect==4.9.0
pickleshare==0.7.5
prompt_toolkit==3.0.52
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pycodestyle==2.8.0
pyflakes==2.4.0
Pygments==2.19.2
setuptools==80.9.0
sqlparse==0.5.3
traitlets==5.14.3
tzdata==2025.2
wcwidth==0.2.14
